:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.outlet-container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 1.5rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}